$themeColorPrimary: #00e5ec;
$themeColorSecondary: #efefef;
$textColor: #dddddd;
$textWhite: #ffffff;
$textLight: #acecff;
$textDark: #555555;
$textBlue: #0084ad;
$hoverTextColor: #fefefe;
$borderColor: #eee;
$headerColor: #555555;
$backgroundColor: #222222;