@import "./variables";
@import "./common";
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  background-color: $backgroundColor;
  font-family: system-ui;
  // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  padding: 15px;

  .section-heading {
    color: $themeColorSecondary;
    text-align: center;
    margin-bottom: 25px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #d9d9d9e0;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b7b7b7;
    border-radius: 5px;

    &:hover {
      background-color: #eeeeee;
    }
  }
}

/* ===== header ===== */

header {
  position: relative;

  .navbar {
    padding: 0;

    .row {
      width: 100%;
      margin: 0;
      padding: 0;

      .navbar-toggler {
        padding: 2px 5px;
        line-height: 1;
        background-color: #f6f6f6;
        border: 2px solid #cfd9d9;
        border-radius: 5px;
        outline: none;
        position: absolute;
        right: 0;
        top: -50px;

        &:hover {
          box-shadow: 1px 1px 5px #ddd, -1px -1px 5px #ddd;
          border-color: #98b1c3;
        }

        .navbar-toggler-icon {
          width: 36px;
          height: 36px;
          background-image: url(https://img.pngio.com/list-icons-free-download-png-and-svg-list-icon-png-256_256.png);
        }
      }
    }
  }

  .my-image {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 60px;
    height: 60px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .navbar-brand {
    line-height: inherit;
    display: inline-block;
    white-space: nowrap;
    padding: 0 0 0 70px;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.9 !important;
    }
    .name {
      font-size: 30px;
      font-weight: bolder;
      line-height: 1.2;
      color: $themeColorPrimary;
    }
    .position {
      font-size: 18px;
      font-weight: 400;
      color: $themeColorSecondary;
    }
  }
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;

  li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 25% !important;
    max-width: 25% !important;
  }

  .nav-link {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $themeColorSecondary !important;
    padding: 0;

    &:hover,
    &:active {
      color: $themeColorPrimary !important;
      transform: scale(1.1);
      border-bottom: 2px dashed $borderColor;
    }
  }
}
/* ===== end header ===== */

/* ===== content ===== */
.content-box {
  padding: 15px 0;

  section {
    padding: 10px;
  }
  .divider {
    height: 2px;
    width: 80%;
    margin: 20px auto;
    background-color: $themeColorSecondary;
    border-radius: 5px;
  }
}
section.intro {
  padding: 20px;

  h2 {
    color: $themeColorSecondary;
  }
  h4 {
    padding: 20px 0;
    color: $textLight;
  }
}

/* ===== projects ===== */
.projects {
  .projectImage {
    height: 150px;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  
  div {
    [class^="col-"] {
      padding: 15px;
    }
  }
  .card {
    padding: 8px;
    transition: 0.8s;
    &:hover {
      transform: scale(1.03) rotate(-3deg);
      box-shadow: 7px 7px 10px #eeeeee73;
      &::before {
        transform: scale3d(1, 1, 1);
      }
      &::after {
        transform: scale3d(1, 1, 1);
      }
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scale3d(0, 0, 1);
      transition: transform 0.3s ease-out 0s;
      background: #ffffff1a;
      content: "";
      pointer-events: none;
      transform-origin: left top;
    }
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scale3d(0, 0, 1);
      transition: transform 0.3s ease-out 0s;
      background: #ffffff1a;
      content: "";
      pointer-events: none;
      transform-origin: right bottom;
    }
    &:focus {
      &::before {
        transform: scale3d(1, 1, 1);
      }
      &::after {
        transform: scale3d(1, 1, 1);
      }
    }
    i {
      font-size: 28px;
      transition: 1s;
      cursor: pointer;
      margin: 5px;
      color: $backgroundColor;
      &:hover {
        transform: scale(1.1);
        color: $textBlue;
      }
    }
  }
  .card-title {
    font-size: 18px;
    font-weight: 700;
    padding: 8px 0;
    margin: 0;
    color: $textBlue;
    transition: 1s;
    cursor: pointer;
  }
}
/* ===== end projects ===== */

/* ===== work timeline ===== */
.work {
  /* The actual timeline (the vertical ruler) */
  * {
    box-sizing: border-box;
  }
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    &::after {
      content: "";
      position: absolute;
      width: 3px;
      background-color: $textWhite;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
    }

    /* Container around content and circles on the timeline*/
    .timeline-container {
      padding: 10px 50px;
      position: relative;
      background-color: inherit;
      width: 50%;

      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: -11px;
        background-color: $textBlue;
        border: 4px solid $themeColorSecondary;
        top: 20px;
        border-radius: 50%;
        z-index: 1;
      }

      h2 {
        margin: 0;
        padding-bottom: 7px;
        color: $textBlue;
      }
      p {
        font-size: 18px;
        margin: 0;
        color: $textDark;
      }
      .date {
        font-size: 15px;
        color: #8f8f8f;
        padding-bottom: 10px;
      }
    }

    /* Place the container to the left and Add arrows to the left container (pointing right)*/
    .left {
      left: 0;

      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid $textWhite;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent $textWhite;
      }
    }

    /* Place the container to the right and Add arrows to the right container (pointing left)*/
    .right {
      left: 50%;

      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid $textWhite;
        border-width: 10px 15px 10px 0;
        border-color: transparent $textWhite transparent transparent;
      }

      &::after {
        left: -14px;
      }
    }

    /* The actual content */
    .content {
      padding: 20px 30px;
      background-color: $textWhite;
      position: relative;
      border-radius: 6px;
      box-shadow: 5px 5px 30px 0px #8bcce2d1;

      .timeline-button {
        position: absolute;
        right: 20px;
        top: 20px;
        outline: none;
        border: 0;
        width: 35px;
        height: 35px;
        font-size: 24px;
        border-radius: 5px;
        color: $textBlue;
        border: 1px solid #c0e9f9;
        background: #d9f4ff;

        &:hover {
          background: $textBlue;
          color: $textWhite;
        }
      }
    }

    .workDetail {
      display: none;
    }
  }
}
/* ===== end work timeline ===== */

/* ===== skills ===== */
.skills {
  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 85%;
    flex-direction: row;
    margin: 20px auto 0;

    .skills-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex: 0 0 calc((100% - 88px) / 5);
      width: calc((100% - 88px) / 5);

      .skill {
        width: 100%;
        height: 110px;
        flex: 0 0 100%;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 100%;
        background-color: transparent;
    
        .skill-icon {
          width: 130px;
          height: 90px;
          box-shadow: 0px 10px 15px 7px #eaeaea33;
          border-radius: 15px;
    
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }
  }
}

/* ===== end skills ===== */

/* ===== end content ===== */

/* ===== footer ===== */
footer {
  //position: fixed;
  //width: 100%;
  bottom: 0;

  h6 {
    font-size: 18px;
    color: $themeColorSecondary;
    margin: 0;
  }
  p {
    font-size: 16px;
    color: $themeColorSecondary;
    margin: 0;
  }
  .copyright {
    font-size: 13px;
    font-weight: 500;
    color: $themeColorSecondary;
  }
  .btn-icon-only {
    padding: 5px 6px 2px 6px;
    margin: 10px;
    background-color: $textWhite;

    &:hover {
      box-shadow: 2px 2px #4ab5ce8c, -2px -2px #4ab5ce8c;
    }
  }
  .btn-icon-only i {
    font-size: 28px;
  }
  .btn-linkedin i {
    color: #0174b3;
  }
  .btn-facebook i {
    color: #3b5998;
  }
  .btn-mail i {
    color: #eb4437;
  }
}

/* ===== end footer ===== */

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    .name {
      font-size: 20px !important;
    }
    .section-heading {
      font-size: 24px !important;
    }
    section.intro {
      h2 {
        font-size: 20px;
      }
      h4 {
        font-size: 18px;
        padding: 10px 0;
      }
    }

    /* Place the timelime to the left */
    .timeline {
      &::after {
        left: 31px;
      }
    }

    /* Full-width containers */
    .timeline-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;

      &::before {
        left: 60px;
        border: medium solid $textWhite;
        border-width: 10px 10px 10px 0;
        border-color: transparent $textWhite transparent transparent;
      }
    }

    /* Make sure all circles are at the same spot */
    .left,
    .right {
      &::after {
        left: 15px;
      }
    }

    /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
